
# --- local/hybrids                                           [ready][7zrun.cfg]
# [2024-12-22][08:50:00] 001 Kartonagnick PRE
#-------------------------------------------------------------------------------
# настройки для отдельных репозиториев

eDIR_SRC = local\soil
eEXCLUDE = *.mp4;_video
eSTYLE   = root-ver\name-date-ver-pre    
eDEBUG   = ON
